body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
  }

  .form-label {
    font-weight: 600;
  }

  .tag-p {
    margin-top: -9px;
    color: rgb(151, 151, 151);
  }

  @media (max-width: 932px) {
    .display-none {
      display: none !important;
    }
  }